venv
.venv/
env/
__pycache__
.pytest_cache/
.ruff_cache
.mypy_cache/
.tox/

.env
*.pyc
*.pyo
*.pyd

*.egg-info/
dist/
build/

.coverage
.coverage.*
htmlcov/
coverage.xml

.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
